* {
    border: none;
    font-family: "Fira Code", Roboto, Arial, sans-serif;
    font-size: 13px;
    color: #D3C6AA;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

window {
    /*font-weight: bold;*/
    border-top: 1px solid #83C092;
}
window#waybar {
    background: transparent;
}

window#waybar.empty {
    background: transparent;
    padding: 0;
}
window#waybar.empty .modules-center {
    background-color: transparent;
}

window > box {
    margin-bottom: 5px;
    background: transparent;
    border-bottom: 1px solid #83C092;
    /*border-bottom-right-radius: 20px;*/
}

/*-----module groups----*/
.modules-right {
    background-color: #2D353B;
    /*margin: 2px 0 0 0;*/
    padding-left: 10px;
    margin-top: 1px;
    margin-right: 2px;
}

.modules-center {
    background-color: #2D353B;
    margin-top: 1px;
    padding: 0 10px;
    border-radius: 15px;
    margin-right: 30px;
}

.modules-left {
    /*margin: 2px 0 0 0;*/
    background-color: #2D353B;
    margin-top: 1px;
    margin-left: 1px;
}

/*-----modules indv----*/
#workspaces button {
    /*padding: 1px 5px;*/
    background-color: transparent;
    border-radius: 0;
}
#workspaces button:first-child {
    border-left: 1px solid #83C092;
    border-bottom-left-radius: 20px;
}

#workspaces button:last-child {
    border-top-right-radius: 20px;
}

#workspaces button:hover {
    box-shadow: inherit;
    background-color: #D3C6AA;
    color: #2D353B;
}

#workspaces button.focused {
    background-color: #83C092;
    color: #E69875 ;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#custom-power,
#custom-menu,
#bluetooth,
#backlight,
#idle_inhibitor {
    padding: 0 10px;
    border-left: 1px solid #83C092;
    border-bottom-left-radius: 20px;
}
#mode {
    color: #E67E80;
    font-weight: bold;
}
/*-----Indicators----*/
#idle_inhibitor.activated {
    color: #A7C080;
}
#pulseaudio.muted {
    color: #E67E80;
}
#battery.charging {
    color: #A7C080;
}
#battery.warning:not(.charging) {
    color: #DBBC7F;
}
#battery.critical:not(.charging) {
    color: #E67E80;
}
#temperature.critical {
    color: #E67E80;
}

#tray {
    border-right: 2px solid #83C092;
    border-radius: 0 20px 0 20px;

}

#custom-arrow1 {
    font-size: 20pt;
    color: #83C092;
}


/*-----Colors----*/
/*
 *rgba(0,85,102,1),#005566 --> Indigo(dye)
 *rgba(0,43,51,1),#002B33 --> Dark Green
 *rgba(0,153,153,1),#009999 --> Persian Green
 *
 */